.about-page {
  padding: 2rem;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  max-width: auto;
  /* margin: 0 auto;  */
  padding: 0 100px;
}

.about-page h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ff8c00;
}

.about-page h3 {
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ff8c00;
}

/* .about-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 60%;
} */

.about-page p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: center; /* Center text within p tag */
  width: 100%; /* Make p tag take full width */
  max-width: 800px; /* Set a max width for better readability */
  margin-left: auto; /* Center align p tag horizontally */
  margin-right: auto; /* Center align p tag horizontally */
}

.about-page ul {
  list-style-type: disc;
  padding-left: 200px;
  margin-bottom: 2rem;
  text-align: center; /* Center text within p tag */
  width: 100%; /* Make p tag take full width */
  max-width: 70%; /* Set a max width for better readability */
  margin-left: auto; /* Center align p tag horizontally */
  margin-right: auto;
}

.about-page li {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0.75rem;
  text-align: left;
 
}

.about-page li  span{
  font-size: 1.4rem;
  font-weight: 600;
}

.about-page .highlight {
  color: #ff810b;
  font-weight: bold;
}

.about-page .centered {
  text-align: center;
}
