.contact-page {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 3rem;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.contact-page .MuiInputBase-input {
  color: #fff; /* White input text */
}

.contact-page .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff; /* White border */
}

.contact-page .MuiButton-contained {
  background-color: #d67900;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-page .MuiButton-contained:hover {
  background-color: #ff8e04;
}

.contact-page a {
  color: #1e90ff; /* Link color */
  text-decoration: none;
}

.contact-page .success-message {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.contact-page .MuiAlert-root {
  background-color: #4caf50; /* Green background for success */
  color: #fff; /* White text */
  margin-top: 20px;
}
