.login-page {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border-radius: 5%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 3rem;
}

.login-page .MuiInputBase-input {
  color: #fff; /* White input text */
}

.login-page .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #fff; /* White border */
}

.login-page .MuiButton-contained {
  background-color: #d67900;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-page .MuiButton-contained:hover {
  background-color: #ff8e04;
}

.login-page a {
  color: #1e90ff; /* Link color */
  text-decoration: none;
}
