.logout-page {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-page .MuiButton-contained {
  background-color: #d67900;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-page .MuiButton-contained:hover {
  background-color: #ff8e04;/* Button hover color */
}
